body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}
input{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 300px;
    height: 18px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 7px;
}
textarea{
    width: 300px;
    font-family: "Montserrat", sans-serif;
    border-radius: 7px;
}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 100px;
    font-weight: 450;
}

h2 {
    font-size: 50px;
    font-weight: 300;
}

h3 {
    font-size: 35px;
    font-weight: 300;
    color: #F2C4CD;
}

p {
    font-size: 20px;
    font-weight: 200;
    font-family: "Quicksand", sans-serif;
}

button {
    background-color: black;
    color: white;
    border: 1.5px white solid;
    border-radius: 5px;
    display: inline-block;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 5;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 98%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: radial-gradient(#99575700, #0101035c), url(background3.jpg);
    backdrop-filter: blur(10px);
    img{
        width: 70%;
    }
}

#Acceuil {
    height: 50%;
    text-align: left;
    padding-bottom: 50px;
    background-image: radial-gradient(#e6646500, #010103), url(background8.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    button{
        width: 150px;
        height: 50px;
        font-size: 100%;
    }
    h2{
        color: white;
    }
}

#Compétences {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#divcard {
    width: 30%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    border: 2px solid #4C2673;
    box-shadow: 1px 1px 5px #F2C4CD;
    border-radius: 10px;
}

#Formation {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-size: 30px;
    }
}
#certif{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
}
#Présentation{
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#txtprs{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
        font-size: 20px;
    }
}
#Projets{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#rendus{
    width: 45%;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#Formulairedecontact{
    padding-bottom: 50px;
    background-image: radial-gradient(#e6646500, #010103), url(background9.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgb(16, 2, 46);
}
#lignedouble{
    display: flex;
    justify-content: center;
    gap: 20px;
    input{
        width: 136px;
    }
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px white;
}
#ulfooter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}